:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eeeaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Home */

.home-page .sale-img {
  margin-top: 1em;
  padding: 1em;
  background: #fff;
}

.home-page .sale-img img {
  width: 100%;
  border-radius: 1em;
}

.carousel {
  background: #fff;
  padding: 1em;
  overflow: hidden;
  margin-top: 1em;
}

.home-carousel {
  width: 100%;
  height: fit-content;
}

.home-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}


/* Swiper core fix */
.swiper {
  width: 100%;
}


.swiper-slide {
  width: 100%;
  flex-shrink: 0;
}



.loading {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .categories {
  margin-top: 1em;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  gap: .5em;
  align-items: center;
  justify-content: center;
} */

.categories {
  margin-top: 1em;
  background: #fff;
  display: flex;
  gap: 0.75em;
  padding: .5em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  /* scroll-behavior: smooth; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories-wrapper {
  position: relative;
  margin-top: 1em;
  background: #fff;
}

/* arrows */
.cat-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #eeeaea;
  color: #000;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-arrow.left {
  left: 5px;
}

.cat-arrow.right {
  right: 5px;
}


.cat {
  height: 7em;
  padding: 0 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #eeeaea; */
  border-radius: .5em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.cat:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.cat Link {
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
}

.cat img {
  height: 80px;
}

.cat span {
  width: inherit;
  text-align: center;
  text-decoration: none;
  color: black;
}

.default-products {
  background: #fff;
  margin-top: 1em;
}

/* Login */

.login-container {
  min-width: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #eeeaea;
}

.login-container button {
  font-size: 1.1em;
  padding: .3em 1em;
  border: none;
  cursor: pointer;
  background-color: green;
}

.login-container div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Navbar */

nav {
  background: white;
  padding: 1em 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  text-decoration: none;
  font-size: 1.5em;
  color: blue;
  font-weight: 700;
  font-style: italic;
}

nav div {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

nav .login {
  display: flex;
  gap: .2em;
  font-size: 1.8em;
  color: #000;
  text-decoration: none;
}

nav span {
  font-size: 20px;
}

nav .cart,
.search {
  display: flex;
  font-size: 1.6em;
  color: #000;
  text-decoration: none;
}

nav .cart {
  position: relative;
}

nav .count {
  background-color: black;
  font-size: .45em;
  font-weight: bold;
  color: white;
  padding: 0 .5em;
  border-radius: 50%;
  height: fit-content;
  border: 1px solid black;
  position: absolute;
  left: 60%;
  top: -0.8em;
}

.nav-wishlist {
  position: relative;
}

.nav-wishlist .likes-count {
  background-color: black;
  font-size: .7em;
  font-weight: bold;
  color: white;
  padding: 0 .5em;
  border-radius: 50%;
  height: fit-content;
  border: 1px solid #000;
  position: absolute;
  left: 60%;
}

.search-box {
  display: flex;
}

.search-box input {
  display: none;
  position: absolute;
  top: 3em;
  left: -5em;
  color: #000;
  padding: .7em 1em;
  border-radius: .5em;
  background-color: #fff;
  border: 1px solid #eeeaea;
}

.search-box input:focus {
  outline: none;
  border: 1px solid blue;
}

.search-box.active input {
  display: block;
}

.search {
  z-index: 2;
}

.logout-btn {
  font-size: 1.1em;
  padding: .3em 1em;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 119, 0);
}

/* Product */

.product {
  display: grid;
  margin-top: 1em;
  padding: 1em;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  position: relative;
  min-width: 0;
  border: 2px solid #eeeaea;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1em .5em;
  transition: all .2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.product-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.product-card img {
  height: 7em;
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: contain;
}

.product-card h4,
.product-card p {
  margin: 0;
  text-align: left;
}

.product-card .truncate {
  max-width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-desc {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1.4;
  max-height: calc(1.4em * 2);
}


.product-card button {
  background-color: orange;
  border: none;
  padding: 2px 10px;
  cursor: pointer;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: .2em;
}

/* 
.product-content button {
  z-index: 99;
} */

.product-content .tags {
  margin-top: .5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.product-content .tags span {
  background-color: green;
  padding: .2em .5em;
  font-size: .6em;
  color: #000;
  border-radius: .5em;
  display: flex;
  align-items: center;
  gap: .3em;
}

.product-content .price {
  font-weight: bold;
  font-size: .7em;
}

.details-icon {
  display: flex;
  padding: .3em;
  background: #eeeaea;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.close-icon {
  display: flex;
  padding: .3em;
  background: #eeeaea;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.product-reveal {
  display: none;
}

.reveal-bg {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  background: #eeeaea;
  border-radius: 50%;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.55s ease-in-out;
}

/* EXPAND */
.product-card.show-details .reveal-bg {
  transform: scale(38);
}

.details-icon,
.close-icon {
  z-index: 3;
}

.card-front,
.card-back {
  z-index: 2;
}

/* both layers */
.card-front,
.card-back {
  width: 100%;
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front {
  display: flex;
}

.heart-empty, .heart {
  position: absolute;
  top: .5em;
  left: .5em;
  color: red;
  font-size: 1.3em;
}

/* default state */
.card-back {
  position: absolute;
  display: flex;
  gap: 1em;
  inset: 0;
  padding: 1em;
  opacity: 0;
  transform: translateY(20px);
  width: fit-content;
  pointer-events: none;
  font-size: .9em;
}

/* when active */
.product-card.show-details .card-front {
  opacity: 0.05;
  /* transform: translateY(-20px); */
}

.product-card.show-details .card-back {
  opacity: 1;
  /* transform: translateY(0); */
  pointer-events: auto;
}

/* description styling */
.card-back h4 {
  margin-bottom: 0.5em;
  text-align: center;
}

.card-back p {
  font-size: 0.9em;
  line-height: 1.4;
  color: #555;
}


.category-page h1 {
  margin-top: .5em;
  text-align: center;
  background: #fff;
  padding: .5em 0;
}

.category-layout {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}


.category-layout .filters {
  background-color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.category-layout .filters h3 {
  margin-top: 1em;
  font-size: 1.5em;
}

.filter-box-price {
  display: flex;
  flex-direction: column;
}

.filter-box-rating {
  display: flex;
  gap: 1em;
}

.cat-loading {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Details */

.product-detail {
  margin-top: 1em;
  padding: 3em 1em;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1em;
}

.product-detail .pd-img {
  border: 2px solid #eeeaea;
  /* border-radius: 1em; */
  display: flex;
  justify-content: center;
}

.product-detail .tags {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.product-detail .tags span {
  background-color: green;
  padding: .4em .8em;
  color: #000;
  border-radius: .5em;
  display: flex;
  align-items: center;
  gap: .3em;
}

.product-detail p,
h1,
.p-price {
  margin: 0;
}

.product-detail h3 span {
  color: green;
  font-size: .8em;
}

.product-detail .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  bottom: 0;
}

.product-detail .btns button {
  font-size: 1.1em;
  padding: .5em 1.2em;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #fff;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
}


.pd-heart-empty, .pd-heart {
  position: absolute;
  top: .5em;
  right: .5em;
  color: red;
  font-size: 2.2em;
  cursor: pointer;
}

.product-info {
  margin-top: 1.5em;
  display: grid;
  font-size: 0.95em;
  color: #333;
}

.product-info p {
  margin-bottom: 0;
}

.p-heading {
  margin-bottom: 0;
}

.reviews {
  margin-top: 2em;
}

.review {
  border-top: 1px solid #eee;
  padding: 1em 0;
}

.review-rating {
  color: green;
  margin-left: 6px;
}


/* Cart */

.cart-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 1em;
  background: #fff;
}

.cart-item {
  min-width: 0;
  border: 2px solid #eeeaea;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cart-item img {
  border: 2px solid #eeeaea;
  border-radius: .5em;
  padding: .3em;
  height: 4em;
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: contain;
}

.cart-item h4,
.cart-item p {
  margin: 0;
}

.cart-item-box {
  min-width: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.qty {
  display: flex;
  gap: 5px;
}

.qty button {
  background: #eeeaea;
  padding: 0 .7em;
  color: #000;
  border: none;
  cursor: pointer;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000d1;
  padding: .5em 1em;
}

.footer .section {
  color: #a19d9d;
}

.footer .section h3 {
  font-size: 1em;
  margin-bottom: .5em;
  font-weight: 500;
}

.section .content {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: .9em;
  margin-bottom: .4em;
}

.section .content p {
  margin: -.1em;
}

/* tablet view */

@media (min-width: 768px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* desktop view */

@media (min-width: 1024px) {

  /* home */

  .categories {
    margin-top: 1em;
    padding: 1em;
    background: #fff;
  }

  .home-carousel {
    height: fit-content;
    gap: 0;
  }

  .home-page .sale-img {
    padding: 2em;
  }

  .cat {
    padding: 1em;
  }

  .cat img {
    height: 100px;
  }

  /* navbar */

  nav {
    padding: 1em 3em;
  }

  .search-box input {
    display: block;
    font-size: 1em;
    top: initial;
    left: initial;
    right: -1em;
    width: 30em;
  }


  /* Product */

  .product {
    padding: 2em;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .product-card {
    padding: 1.5em;
    gap: 10px;
  }

  .product-card img {
    height: 9em;
    aspect-ratio: 1/1;
  }

  .product-card .truncate {
    max-width: 13em;
  }

  .product-card h4 {
    font-size: 1.1em;
  }

  .product-card button {
    font-size: 1.1em;
  }

  .card-back {
    font-size: 1em;
  }

  .product-detail {
    flex-direction: row;
    gap: 4em;
    padding: 4em;
    margin: 2em 4em;
  }

  .product-detail .pd-img img {
    width: 30em;
  }

  .product-detail .detail-second-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-detail .detail-second-part h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }

  .product-detail .detail-second-part .p-desc {
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  .product-detail .detail-second-part .p-price {
    font-size: 1.7em;
    margin-bottom: .5em;
  }

  .product-detail .detail-second-part .p-heading {
    font-size: 1.7em;
    margin-top: 1.4em;
    margin-bottom: 0;
  }

  .product-detail .btns button {
    font-size: 1.3em;
    padding: .7em 1.2em;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #fff;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
  }

  .product-info,
  .dimensions {
    font-size: 1.2em;
  }

  .category-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .category-layout .filters {
    padding-left: 2em;
  }

  .product-content .tags span {
    font-size: .8em;
  }

  .product-content .price {
    font-size: 1em;
  }

.cat-loading {
  height: 90vh;
  position:relative;
  height: 60vh;
  width: 100%;
  left: 30em;
}

  /* Cart */

  .cart-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #000000d1;
  padding: .5em 1em;
}
}
