:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eeeaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Home */

.loading, .empty-cart {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */

.login-container {
  min-width: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #eeeaea;
}

.login-container button {
  font-size: 1.1em;
  padding: .3em 1em;
  border: none;
  cursor: pointer;
  background-color: green;
}

.login-container div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Navbar */

nav {
  background: white;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  text-decoration: none;
  font-size: 1.5em;
  color: blue;
  font-weight: 700;
  font-style: italic;
}

nav div {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav .login {
  display: flex;
  gap: .2em;
  font-size: 1.8em;
  color: #000;
  text-decoration: none;
}

nav span {
  font-size: 20px;
}

nav .cart {
  display: flex;
  font-size: 1.5em;
  color: #000;
  text-decoration: none;
}

.logout-btn {
  font-size: 1.1em;
  padding: .3em 1em;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 119, 0);
}

/* Product */

.product {
  display: grid;
  margin-top: 1em;
  padding: 1em;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  min-width: 0;
  border: 2px solid #eeeaea;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1em .5em;
}

.product-card img {
  height: 7em;
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: contain;
}

.product-card h4,
.product-card p {
  margin: 0;
}

.product-card .truncate {
  max-width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-card button {
  background-color: orange;
  border: none;
  padding: 2px 10px;
  cursor: pointer;
}

/* Cart */

.cart-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 1em;
  background: #fff;
}

.cart-item {
  min-width: 0;
  border: 2px solid #eeeaea;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cart-item img {
  border: 2px solid #eeeaea;
  border-radius: .5em;
  padding: .3em;
  height: 4em;
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: contain;
}

.cart-item h4,
.cart-item p {
  margin: 0;
}

.cart-item-box {
  min-width: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.qty {
  display: flex;
  gap: 5px;
}

.qty button {
  background: #eeeaea;
  padding: 0 .7em;
  color: #000;
  border: none;
  cursor: pointer;
}

/* tablet view */

@media (min-width: 768px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* desktop view */

@media (min-width: 1024px) {
  nav {
    padding: 1em 3em;
  }

  /* Product */

  .product {
    padding: 2em;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .product-card {
    padding: 2em;
    gap: 10px;
  }

  .product-card img {
    height: 9em;
    aspect-ratio: 1/1;
  }

  .product-card .truncate {
    max-width: 16em;
  }

  .product-card h4 {
    font-size: 1.1em;
  }

  .product-card button {
    font-size: 1.1em;
  }

  /* Cart */

  .cart-container {
    grid-template-columns: repeat(2, 1fr);
  }
}